body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color:rgba(255, 255, 255, 0.591);
}
h1{
    color: white;
}
button{
    font-size: large;
    color: white;
    background-color: rgb(25, 95, 181);
    padding: 10px;
 
}
.nav{
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.591);
    border-radius: 0 0 20px 20px;
    width:auto;
}   
.nav a{
    color: white;
    text-decoration: none;
    margin: 20px;
}
.nav a:hover{
    text-shadow: rgb(255, 255, 255) 0 0 12px;
    color: rgb(255, 255, 255);
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    margin-top: 50px;   

}
.left{
    width: 50%;
    flex:1;
    padding: 50px;
}
.right{
    width: 50%;     
    flex: 1;
    padding: 50px;
}
img{
    width: 80%;
    border-radius: 50%;
}   
p{
    font-size: 20px;
    line-height: 1.6;
}
p:hover{
    color: white;
}
h1:hover{
    color: rgb(25, 95, 181);
}